<div class="main">
  <div><br>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div><br>
        <div>
          <label>Email</label><br>
          <input type="text" formControlName="email" [ngClass]="{'invalid': submitted && form['email']['errors']}" />
          <div *ngIf="submitted && form['email']['errors']">
            <div *ngIf="form['email']['errors']['required']" class="invalid-entry">Email is required</div>
            <div *ngIf="form['email']['errors']['email']" class="invalid-entry">Email must be a valid email address
            </div>
          </div>
        </div>
      </div>
      <div>
        <div><br>
          <label>Password</label><br>
          <input type="password" formControlName="password"
            [ngClass]="{'invalid': submitted && form['password']['errors']}" />
          <div *ngIf="submitted && form['password']['errors']">
            <div *ngIf="form['password']['errors']['required']" class="invalid-entry">Password is required</div>
            <!-- <div *ngIf="form['password']['errors']['minlength']" class="invalid-entry">Password must be at least 6 characters</div> -->
            <!-- <div *ngIf="form['password']['errors']['pattern']"  class="invalid-entry">
              Minimum six characters, at least one letter, one number and one special character is required
            </div> -->
          </div>
        </div>
      </div><br>
      <div>
        <button class="btn">Login</button>
        
      </div>
    </form>
    <div>
      <label>Don't have an account?</label>
      <div (click)="onNavigateRegister()">Register...</div>
    </div>
    <br>
  </div>
</div>
