.invalid{
  border: 1px solid red;
}
.invalid-entry{
  color : red;
}
.main{
  text-align: center;
  margin-top: 60px;
  width: 30%;
  box-shadow: 5px 10px #888888;
  background-color: skyblue;
  border-radius: 10%;
}

.btn{
  color:#fff;
  background-color:#e74c3c;
  outline: none;
    border: 0;
    color: #fff;
  padding:10px 20px;
  text-transform:uppercase;
  border-radius:2px;
  cursor:pointer;
  position:relative;
}
input[type=text]{
  border:0;
  border-bottom:2px solid white;  
  background:transparent;
  width:50%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
input[type=text]:focus{ 
 border:none; 
 outline:none;
 border-bottom:2px solid yellow; 
}
input[type=password]{
  border:0;
  border-bottom:2px solid white;  
  background:transparent;
  width:50%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
input[type=password]:focus{ 
 border:none; 
 outline:none;
 border-bottom:2px solid yellow; 
}