<div class="main">
  <div>
    <h1 align="center">SignUp</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <div><br>
          <label>Username</label><br>
          <input type="text" formControlName="userName"
            [ngClass]="{'invalid': submitted && form['userName']['errors']}" />
          <div *ngIf="submitted && form['userName']['errors']">
            <span *ngIf="form['userName']['errors']['required']" class="invalid-entry">Username is required</span>
            <span *ngIf="form['userName']['errors']['pattern']" class="invalid-entry">Username should be of valid
              format</span>
          </div>
        </div><br>
      </div>
      <div>
        <div>

          <label>Email</label><br>
          <input type="text" formControlName="email"  [ngClass]="{'invalid': submitted && form['email']['errors']}" />
          <div *ngIf="submitted && form['email']['errors']" >
            <div *ngIf="form['email']['errors']['required']"  class="invalid-entry">Email is required</div>
            <div *ngIf="form['email']['errors']['email']"  class="invalid-entry">Email must be a valid email address</div>
          </div>
        </div>
      </div><br>
      <div>
        <div>
          <label>Password</label><br>
          <input type="password" formControlName="password" [ngClass]="{'invalid': submitted && form['password']['errors']}"/>
          <div *ngIf="submitted && form['password']['errors']">
            <div *ngIf="form['password']['errors']['required']"  class="invalid-entry">Password is required</div>
            <div *ngIf="form['password']['errors']['minlength']" class="invalid-entry">Password must be at least 6 characters</div>
            <!-- <div *ngIf="form['password']['errors']['pattern']"  class="invalid-entry">
              Minimum six characters, at least one letter, one number and one special character is required
            </div> -->
          </div>
        </div>
        <br>
        <div>
          <label>Confirm Password</label><br>
          <input type="password" formControlName="confirmPassword" [ngClass]="{'invalid': submitted && form['confirmPassword']['errors']}" />
          <div *ngIf="submitted && form['confirmPassword']['errors']">
            <div *ngIf="form['confirmPassword']['errors']['required']"  class="invalid-entry">Confirm Password is required</div>
            <div *ngIf="form['confirmPassword']['errors']['mustMatch']"  class="invalid-entry">Passwords must match</div>
          </div>
        </div>
      </div>
      <div><br>
        <button class="btn">Register</button>
        <a href="">Forget Password</a>
      </div>
      <br>
    </form>
    <div>
      <label (click)="onNavigateLogin()">Already Have an Account?</label>
      
    </div>
    <br>
  </div>
</div>
